body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.wordle-game-container::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100vw; /* Full width of the viewport */
    height: calc(100vh - 380px); /* Full height minus the top and bottom space */
    background-color: #aaf0d1;
    z-index: -1; /* Position it behind the content */
}

/* Ensure the container takes up the full height */
.wordle-game-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

.title {
    font-size: 3.3rem;
    font-weight: bold;
    margin-top: 25px; /* Reduced margin-top */
    margin-bottom: 50px;
    color: #ffb3b3;
    text-align: center;
}

#board {
    width: 350px;
    height: 420px;
    margin: 5px auto 0;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    background-color: lightgrey;
    width: 60px;
    height: 60px;
    margin: 5px;
    color: #020101;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.correct {
    background-color:  #26874E;
    color: white;
    border-color: white;
}

.present {
    background-color: #fcd404;
    color: white;
    border-color: white;
}

.absent {
    background-color: #dc3545;
    color: white;
    border-color:white;
}

.keyboard-row {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.key-tile, .enter-key-tile {
    width: 38px;
    height: 42px;
    margin: 1px;
    border: 1px solid lightgray;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.enter-key-tile {
    width: 78px;
}

#opponent-tracker-wrapper {
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: white;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.tracker-row {
    display: flex;
    gap: 6px;
}

.tracker-tile {
    width: 18px;
    height: 18px;
    border-radius: 4px;
    background-color: lightgray;
    border: 1px solid #999;
}

.progress-1 {
    background-color: #f87171; /* red */
}

.progress-2 {
    background-color: #4ade80; /* green */
}


/* Center the restart button below the game board */
.restart-button-container {
    text-align: center;
    margin-top: 20px;
}

/* Style for the restart button */
.restart-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.restart-button:hover {
    background-color: #45a049;
}

.gohome-button-container{
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}