@{
    ViewData["Title"] = "Wordle";
}

<div class="wordle-title-container">
    <h1 class="wordle-title">Wordle</h1>
</div>


<div class="wordle-game-container">
    <div class="welcome-text">
        <p>Welcome to Wordle! Choose your game mode and start playing!</p>
    </div>

    <div class="buttons-container">
        <a asp-controller="Wordle" asp-action="SinglePlayer" class="single-player-button">Single Player</a>
        <a asp-controller="Wordle" asp-action="CreateGame" class="create-game-button">Create Game</a>
        <a asp-controller="Wordle" asp-action="JoinGame" class="join-game-button">Join Game</a>
    </div>

    <div class="exit-button-container">
        <a asp-controller="Home" asp-action="Index" class="exit-button">Exit</a>
    </div>
</div>