@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/gdpr.css" />
<div class="page">
    <section class="personalia">
        <img class="person-logo" src="images/doggo.png" alt="profile picture">
        <h1 class="person-name">Swen de Jong</h1>

        <div class="profile-content__category">
            <h3 class="profile-content__category-title">Personalia</h3>
            <hr>
        </div>

        <div class="profile-content__element-header">
            <h4 class="profile-content__title">Swen de jong</h4>
        </div>

        <div class="profile-content__element-header">
            <h4 class="profile-content__title">swendejong@icloud.com</h4>
        </div>

        <div class="profile-content__element-header">
            <h4 class="profile-content__title">+31 6 27302201</h4>
        </div>

        <div class="profile-content__category">
            <h3 class="profile-content__category-title">Vaardigheden</h3>
            <hr>
        </div>

        <div class="profile-content__element-header">
            <h4 class="profile-content__title">Coderen 4/5</h4>
        </div>

        <div class="profile-content__element-header">
            <h4 class="profile-content__title">Probleem oplossing 4/5</h4>
        </div>

        <div class="profile-content__element-header">
            <h4 class="profile-content__title">Engels 5/5</h4>
        </div>

        <div class="profile-content__category">
            <h3 class="profile-content__category-title">Eigenschappen</h3>
            <hr>
        </div>

        <div class="profile-content__element-header">
            <h4 class="profile-content__title">Hardwerkend</h4>
        </div>

        <div class="profile-content__element-header">
            <h4 class="profile-content__title">Flexibel</h4>
        </div>

        <div class="profile-content__element-header">
            <h4 class="profile-content__title">Leergierig</h4>
        </div>
    </section>

    <section class="profile">
        <section class="profile-content">
            <div class="profile-content__category--hidden-mobile">
                <h3 class="profile-content__category-title">Profiel</h3>
                <hr>
            </div>

            <div class="profile-content__element--hidden-mobile">
                <div class="profile-content__element-header">
                </div>
                <p class="profile-content__description">
                    Ik ben een student Software Engineering aan Windesheim met een sterke interesse in high-performance applicaties en back-end webontwikkeling.
                    Ik heb ervaring met verschillende programmeertalen, waaronder C, PHP, Java, Go, C#, JavaScript, HTML en CSS.
                    Mijn passie ligt bij het optimaliseren van prestaties en efficiëntie binnen back-end systemen. Ik streef ernaar om diepgaande kennis op te doen over best practices en geavanceerde technieken om schaalbare en efficiënte applicaties te ontwikkelen.
                    Mijn doel is om te werken aan krachtige en responsieve back-endoplossingen die hoge prestaties leveren onder zware belasting.
                </p>
            </div>

            <div class="profile-content__category">
                <h3 class="profile-content__category-title">Opleidingen</h3>
                <hr>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">HBO-ICT</h4>
                    <p class="profile-content__period">aug 2023 - juni 2027</p>
                </div>
                <p class="profile-content__institute">Windesheim , Zwolle</p>
            </div>

            <div class="profile-content__category">
                <h3 class="profile-content__category-title">Werkervaring</h3>
                <hr>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Webdeveloper</h4>
                    <p class="profile-content__period">aug 2022 - dec 2022</p>
                </div>
                <p class="profile-content__institute">Web1 , Zwolle</p>
            </div>
        </section>
    </section>
</div>

<div class="gdpr-consent hide">
    <div class="gdpr-consent__description">
        <p>We gebruiken cookies om jouwn ervaring op deze site te verbeteren. Door te accepteren, ga je akoord met ons gebruik van cookies. Voor meer informatie, lees onze Privacy Policy.</p>
    </div>
    <div class="gdpr-consent__choice">
        <button class="gdpr-consent__button--accept">Accepteer</button>
        <button class="gdpr-consent__button--reject">Afwijzen</button>
    </div>
</div>

<div id="content-gpdr-consent-status"></div>
